<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DB -->
    <add key="ConnectionString" value="Server=127.0.0.1;Port=3306;Uid=root;Pwd=123asD;DataBase=RentSpider;Convert Zero Datetime=True; allow zero datetime=true;Max Pool Size=10000;Allow User Variables=True"/>

    <!-- target -->
    <add key="TargetUrl" value="https://www.douban.com/group/512844" />
    <add key="KeyWords" value="两房|2房|两室|2室" />

    <!-- job -->
    <add key="IntervalInMinutes" value="5"/>
  </appSettings>
</configuration>